<p>您好 <%= @resource.email %>!</p>

<p>接受到您账户需要更改密码的请求，通过进入以下链接完成更改。</p>

<p><%= link_to '更改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你没有请求更改密码，请忽略这封邮件。</p>
<p>您的账户密码在您进入以下链接完成新密码设定前不会发生变更。</p>
